<%= erb :_form_errors %>
<form action="/menus" method="post">
  <fieldset>
    <legend>Name and Description</legend>
    <input type="text" name="name" placeholder="Name">
    <textarea name="description" placeholder="Description"></textarea>
  </fieldset>
  <fieldset>
    <legend>Start and End Times</legend>
    <label for="start_at">Starts At</label>
    <input type="date" name="start_at">
    <label for="end_at">Ends At</label>
    <input type="date" name="end_at">
  </fieldset>

  <input type="submit">
</form>
